body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.divBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
	background: linear-gradient(135deg,  #10B981 0%, #6EE7B7);
}

.divLogin {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    max-width: 600px;
    width: 90%;
    min-width: 400px;
    text-align: center;
    margin: 0 auto;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
    width: 100%; 
    height: auto;
}


.tituloTexto {
    font-size: 25px !important;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.stInput {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px; 
}

.btnLogin {
    background-color: #10B981; 
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 25px !important;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.4s ease, transform 0.4s ease !important;
    width: 100%;
    margin-top: 10px;
}

.btnLogin:hover {
    transform: scale(1.02);
}

.pnTitulo {
    margin-bottom: 10px;
}

.pnWidth {
    width: 100%;
}

.padPg {
    padding: 0 20px;
}

p:commandLink {
    color:  #10B981;
    text-decoration: none;
    font-size: 0.9em;
    margin-top: 10px;
    display: inline-block;
}

p:commandLink:hover {
    text-decoration: underline;
}