* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    min-height: 100vh;
    max-width: 100vw !important;
    background: #f9f9f9;
    overflow-y: auto;
}

body, html {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

a {
    text-decoration: none;
}

.ui-state-disabled {
    background: lightgrey !important;
}

body .ui-panelgrid .ui-panelgrid-cell {
    padding: 2px 10px;
}

.ui-inputtext, .ui-inputtextarea, .ui-password, .ui-inputfield {
    width: 100%;
}

.inputCodigo {
    width: 200px !important;
}

.input250 {
    width: 250px !important;
}

.titulo {
	font-size: 20px !important;
	font-weight: bold !important;
}

.dropbtn {
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 185px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #454545;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #454545;
}

.btn-acoes {
    width: 130px;
    margin: 6px !important;
}

.btn-acoes-auto {
    width: auto;
    margin: 10px !important;
}

.ui-button {
    background-color: #1a96cc !important;
    border: none !important;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;
}

.ui-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.ui-panel {
    padding: 10px 20px !important;
}

.ui-panel .ui-panel-content{
    padding: 0.5em 1em !important;
}

body .ui-tabs .ui-tabs-nav {
    margin: 20px 20px !important;
}

.input-converter-id {
    width: 2.356rem !important;
    text-align: center;
}

.ui-inputgroup > tbody > tr > td {
    padding: 2px !important;
}

.ui-button-danger {
    background-color: #d32f2f !important;
}

.ui-button-success {
    background-color: #093e80 !important;
}

.ui-button-secondary {
    background-color: #1a96cc !important;
}

.ui-chkbox .ui-chkbox-label {
    background: #fff !important;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    background: #1a96cc !important;
}

.about-section {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.text-content {
    flex: 1;
    padding: 20px;
    max-height: 800px;
    font-size: 1.1rem;
    color: #333;
    font-family: 'Georgia', serif;
}

.text-content h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 20px;
    color: #333;
}

.image-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    padding: 20px;
}

.about-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.map-section {
    text-align: center;
    max-width: 800px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.map-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.map-description {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
}

.map-link {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    color: #007BFF;
    text-decoration: none;
}

.map-link:hover {
    text-decoration: underline;
}

.map-container {
    display: flex;
    justify-content: center;
}

.contact-text {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.painel-custom>.ui-panel-content {
	border-radius: 12px !important;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
	border: none !important;
}

.painel-custom-header>.ui-panel-titlebar {
	border-top-left-radius: 12px !important;
	border-top-right-radius: 12px !important;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
	border: none !important;
}

.painel-custom-header>.ui-panel-content {
	border-bottom-left-radius: 12px !important;
	border-bottom-right-radius: 12px !important;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
	border: none !important;
}